<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maishapay.sdk.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".MaishapaySplashScreenActivity"  android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden" android:theme="@style/MaishapayTheme.NoActionBar"/>
        <activity android:name=".MaishapayPaymentActivity"  android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden" android:theme="@style/MaishapayTheme.NoActionBar"/>
        <activity android:name=".MaishapayConfirmationActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden" android:theme="@style/MaishapayTheme.NoActionBar"/>
        <activity android:name=".MaishapayLoginActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden" android:theme="@style/MaishapayTheme.NoActionBar"/>
        <activity android:name=".MaishapayCodePinOublieActivity"  android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden" android:theme="@style/MaishapayTheme.NoActionBar"/>
    </application>
</manifest>
