<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.maishapay">

    <uses-sdk tools:overrideLibrary="com.paypal.android.sdk.payments,
                                     androidmads.library.qrgenearator,
                                     com.santalu.widget,
                                     com.fxn769,
                                     me.saket.bettermovementmethod,
                                     org.alfonz.utility,
                                     org.alfonz.media,
                                     org.alfonz.graphics,
                                     com.afollestad.materialdialogs,
                                     pl.hypeapp.materialtimelineview,
                                     dmax.dialog,
                                     com.wajahatkarim3.easyvalidation.core,
                                     com.luseen.verticalintrolibrary,
                                     com.nmaltais.calcdialog,
                                     com.vipulasri.ticketview,
                                     net.sharewire.googlemapsclustering" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--<uses-permission android:name="android.permission.RECEIVE_SMS" />-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".app.MaishapayApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity
            android:name=".ui.intro.IntroActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.DrawerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLogin" />
        <activity
            android:name=".ui.activities.ProfilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.RegisterMarchantActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeRegister" />
        <activity
            android:name=".ui.activities.UpdateProfilActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".ui.activities.TransfertCompteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.qrcode.DecoderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.EpargnePersonnelleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.EpargneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ConversionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.RetraitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.OuvrirEpargnePersonnelleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.PaiementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.TransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SuccessPaiementActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.RegisterNormalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeRegister" />
        <activity
            android:name=".ui.activities.MaishapayPayPal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SuccessDepositActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.TransfertCompteCashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.MobileMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.MapsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.TransfertPaiementActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activities.PaymentWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.AirtimeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activities.MaishapayPayPalDeposit" />
        <activity android:name=".ui.activities.MerchantActivity" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <service android:name=".service.MaishapayFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MaishapayFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MaishapayService" />

        <!--<service android:name=".model.contact.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="00a125a1fa34d9d1eae662438be79491692e39a8"
            />
    </application>
</manifest>